In [1]:
import pandas as pd

In [2]:
coord_csv = pd.read_csv('coordinates_100K.csv')
landmarks_csv = pd.read_csv('landmarks_antrenare_mare.csv')

In [3]:
print(coord_csv.columns)
print(landmarks_csv.columns)

Index(['LAT', 'LON'], dtype='object')
Index(['IMG_FILE', 'LAT', 'LON'], dtype='object')

In [4]:
landmarks_subset = landmarks_csv.drop_duplicates(['LAT', 'LON'])
landmarks_subset.head(10)

                                  IMG_FILE        LAT        LON
0  Palatul_Parlamentului_0_mapillary_0.jpg  44.427865  26.087500
1  Palatul_Parlamentului_0_mapillary_1.jpg  44.427832  26.087470
2  Palatul_Parlamentului_0_mapillary_2.jpg  44.427690  26.087413
3  Palatul_Parlamentului_0_mapillary_3.jpg  44.427868  26.087491
4  Palatul_Parlamentului_0_mapillary_4.jpg  44.427915  26.087493
5  Palatul_Parlamentului_0_mapillary_5.jpg  44.427749  26.087417
6  Palatul_Parlamentului_0_mapillary_6.jpg  44.427661  26.087474
7  Palatul_Parlamentului_0_mapillary_7.jpg  44.427730  26.087544
8  Palatul_Parlamentului_0_mapillary_8.jpg  44.427865  26.087496
9  Palatul_Parlamentului_0_mapillary_9.jpg  44.427887  26.087509

In [5]:
lm_data = landmarks_subset[['LAT', 'LON']]
lm_data.head(10)

         LAT        LON
0  44.427865  26.087500
1  44.427832  26.087470
2  44.427690  26.087413
3  44.427868  26.087491
4  44.427915  26.087493
5  44.427749  26.087417
6  44.427661  26.087474
7  44.427730  26.087544
8  44.427865  26.087496
9  44.427887  26.087509

In [ ]:
# lm_data.to_csv('coordinates_100K.csv', index=False)

In [6]:
new_df = pd.concat([coord_csv, lm_data], ignore_index=True)

In [7]:
print(new_df.head(10))
print(coord_csv.head(10))

         LAT         LON
0 -50.943392  -72.935664
1  34.201047 -118.599931
2  48.839963   -3.504874
3  38.942855 -119.975852
4  19.412728  -99.168949
5  25.232118   55.264320
6  18.491493  -69.958856
7  25.615366 -100.349621
8  51.448283   -1.008425
9  45.431708   12.330093
         LAT         LON
0 -50.943392  -72.935664
1  34.201047 -118.599931
2  48.839963   -3.504874
3  38.942855 -119.975852
4  19.412728  -99.168949
5  25.232118   55.264320
6  18.491493  -69.958856
7  25.615366 -100.349621
8  51.448283   -1.008425
9  45.431708   12.330093

In [8]:
print(new_df.tail(10))
print(lm_data.tail(10))

              LAT        LON
109154  44.427295  26.112043
109155  44.426793  26.104061
109156  44.426975  26.112007
109157  44.426532  26.109826
109158  44.427154  26.112028
109159  44.426334  26.110767
109160  44.426357  26.110266
109161  44.427475  26.112060
109162  44.426312  26.111268
109163  44.426367  26.110015
             LAT        LON
11972  44.427295  26.112043
11981  44.426793  26.104061
11984  44.426975  26.112007
11985  44.426532  26.109826
11996  44.427154  26.112028
12002  44.426334  26.110767
12003  44.426357  26.110266
12008  44.427475  26.112060
12013  44.426312  26.111268
12015  44.426367  26.110015

In [9]:
new_df.shape

(109164, 2)

In [10]:
new_df.drop_duplicates()
new_df.shape

(109164, 2)

In [11]:
new_df.to_csv('coordinates_100K.csv', index=False)