In [1]:
import pandas as pd
import os

In [2]:
# mapillary_dir = 'imagini_mapillary_json'
base_csv = '_landmarks_antrenare_mare.csv'

# streetview_dir = 'imagini_street_view'
new_entries_csv = 'train_dataset.csv'

In [ ]:
def rm_space(df):
    df['IMG_FILE'] = df['IMG_FILE'].apply(lambda x: x.replace(' ', '_'))
    return df

In [ ]:
def add_dir(df, base_dir):
    df['IMG_FILE'] = df['IMG_FILE'].apply(lambda x: os.path.join(base_dir, x))

    return df

In [3]:
base_df = pd.read_csv(base_csv)
new_entries_df = pd.read_csv(new_entries_csv)

In [ ]:
# base_df = rm_space(base_df)
# base_df = add_dir(base_df, mapillary_dir)
# new_entries_df = add_dir(new_entries_df, streetview_dir)

In [4]:
base_df.head()

                                  IMG_FILE        LAT        LON
0  Palatul_Parlamentului_0_mapillary_0.jpg  44.427865  26.087500
1  Palatul_Parlamentului_0_mapillary_1.jpg  44.427832  26.087470
2  Palatul_Parlamentului_0_mapillary_2.jpg  44.427690  26.087413
3  Palatul_Parlamentului_0_mapillary_3.jpg  44.427868  26.087491
4  Palatul_Parlamentului_0_mapillary_4.jpg  44.427915  26.087493

In [5]:
new_entries_df.head()

                           IMG_FILE        LAT        LON
0    AFI_Cotroceni_coord_33_h40.jpg  44.428477  26.049943
1   AFI_Cotroceni_coord_158_h77.jpg  44.427571  26.034304
2  AFI_Cotroceni_coord_249_h231.jpg  44.431586  26.054434
3  AFI_Cotroceni_coord_260_h215.jpg  44.432576  26.054425
4   AFI_Cotroceni_coord_101_h74.jpg  44.428111  26.041419

In [6]:
df_mare = pd.concat([base_df, new_entries_df], ignore_index=True)

In [7]:
print(df_mare.head())
print(df_mare.tail())

                                  IMG_FILE        LAT        LON
0  Palatul_Parlamentului_0_mapillary_0.jpg  44.427865  26.087500
1  Palatul_Parlamentului_0_mapillary_1.jpg  44.427832  26.087470
2  Palatul_Parlamentului_0_mapillary_2.jpg  44.427690  26.087413
3  Palatul_Parlamentului_0_mapillary_3.jpg  44.427868  26.087491
4  Palatul_Parlamentului_0_mapillary_4.jpg  44.427915  26.087493
                                     IMG_FILE        LAT        LON
12011   Tribunalul_Bucuresti_coord_91_h43.jpg  44.426544  26.109576
12012   Tribunalul_Bucuresti_coord_41_h50.jpg  44.426406  26.109137
12013  Tribunalul_Bucuresti_coord_58_h319.jpg  44.426312  26.111268
12014   Tribunalul_Bucuresti_coord_90_h37.jpg  44.426538  26.109701
12015   Tribunalul_Bucuresti_coord_48_h16.jpg  44.426367  26.110015

In [9]:
print(df_mare.shape)
print(base_df.shape)
print(new_entries_df.shape)

(12016, 3)
(9639, 3)
(2377, 3)

In [8]:
df_mare.to_csv('landmarks_antrenare_mare.csv', index=False)